@model PriceQuotationModel

@{
    ViewBag.Title = "Price Quotation Calculator";
}

<form asp-action="PriceQuotationView" method="post">
    <div class="row">
        <label for="Price">Subtotal:</label>
        <input class="form-control" asp-for="Price" type="number" step="0.01" name="Price"/>
        <span asp-validation-for="Price" class="error"></span>
    </div>

    <div class="row">
        <label for="DiscountPercent">Discount Percent:</label>
        <input class="form-control" asp-for="DiscountPercent" type="number" step="0.01" name="DiscountPercent"/>
        <span asp-validation-for="DiscountPercent" class="error"></span>
    </div>

    <div class="row">
        <label for="DiscountAmount">Discount Amount:</label>
        <label name="DiscountAmount">@ViewBag.Discount.ToString("c2")</label>
    </div>

    <div class="row">
        <label for="Total">Total:</label>
        <label name="Total">@ViewBag.Total.ToString("c2")</label>
    </div>

    <div class="row">
        <div class="column">
            <button type="submit">Calculate</button>
        </div>
        <div class="column">
            <button type="reset">Clear</button>
        </div>
    </div>
</form>

    