@model PriceQuotationModel

@{
    string title = "Price Quotation Calculator";
    ViewBag.Title = title;
}

<form asp-action="PriceQuotationView" method="post">
    <div class="row container-fluid text-center">
        <h2 class="display-4">@title</h2>
    </div>

    <br>
    <br>

    <div class="row container-fluid d-flex align-items-center justify-content-center mb-3">
        <div class="col-md-4 display-6">
            <label for="Price" class="form-label">Subtotal:</label>
        </div>
        <div class="col-md-6">
            <input class="form-control" asp-for="Price" type="number" step="0.01" name="Price" />
        </div>   
        <span asp-validation-for="Price" class="text-danger text-center"></span>
    </div>

    <div class="row container-fluid d-flex align-items-center justify-content-center mb-3">
        <div class="col-md-4 display-6">
            <label for="DiscountPercent" class="form-label">Discount Percent:</label>
        </div>
        <div class="col-md-6">
            <input class="form-control" asp-for="DiscountPercent" type="number" step="0.01" name="DiscountPercent"/>
        </div>
        <span asp-validation-for="DiscountPercent" class="text-danger text-center"></span>
    </div>

    <div class="row container-fluid d-flex align-items-center justify-content-center mb-3">
        <div class="col-md-4 display-6">
            <label for="DiscountAmount" class="form-label">Discount Amount:</label>
        </div>
        <div class="col-md-6 display-6">
            <label name="DiscountAmount" class="form-label">@ViewBag.Discount.ToString("c2")</label>
        </div>
    </div>

    <div class="row container-fluid d-flex align-items-center justify-content-center mb-3">
        <div class="col-md-4 display-6">
            <label for="Total" class="form-label">Total:</label>
        </div>
        <div class="col-md-6 display-6">
            <label name="Total" class="form-label">@ViewBag.Total.ToString("c2")</label>
        </div>
    </div>

    <div class="row container-fluid d-flex align-items-center justify-content-center mb-3">
        <button type="submit" class="btn btn-primary btn-lg mb-3" style="width: 40vw;">Calculate</button>
        <a type="reset" role="button" class="btn btn-primary btn-lg mb-3" asp-action="PriceQuotationView" style="width: 40vw;">Clear</a>
    </div>
</form>    