@model PriceQuotationModel

<div class="row">
    <label for="inputSubtotal">Subtotal: </label>
    <input type="number" id="inputSubtotal" text="0.00" />
</div>

<div class="row">
    <label for="discountInput">Discount Percent: </label>
    <input type="number" id="discountInput" text="0.00" />
</div>

<div class="row">
    <label for="discount">Discount Amount: </label>
    <output id="discount" type="number"></output>
</div>

<div class="row">
    <label for="total">Total: </label>
    <output id="total" type="number"></output>

</div>
<button onclick="()">Calculate</button>