<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TipCalcView</title>
</head>
<body>
    <form>
        <div class="row">
            <label>Total: </label>
            <input type="number" id="inputTotal" text="0.00"/>
        </div>
        <div class="row">
            <label>Tip 15%: </label>
            <output id="tip15" type="number" value="15"/>
        </div>
        <div class="row">
            <label>Tip 20%: </label>
            <output id="tip20" type="number" value="20"/>
        </div>
        <div class="row">
            <label>Tip 25%: </label>
            <output id="tip25" type="number" value="25"/>
        </div>
        <button onclick="">Calculate</button>
    </form>
</body>
</html>
