<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TipCalcView</title>
</head>
<body>
    <form>
        <div class="row">
            <label>Total: </label>
            <input type="number" id="inputTotal" text="0.00"/>
        </div>
        <div class="row">
            <output id="tip15">Tip 15%: </output>
        </div>
        <div class="row">
            <output id="tip20">Tip 20%: </output>
        </div>
        <div class="row">
            <output id="tip25">Tip 25%: </output>
        </div>
    </form>
</body>
</html>
