@model TipCalculatorModel

@{
    ViewBag.Title = "Tip Calculator";
}

<form method="post">
    <div class="row">
        <label for="Total">Subtotal:</label>
        <input class="form-control" asp-for="Total" step="0.01" name="Total" />
        <span asp-validation-for="Total" class="error"></span>
    </div>
    <div class="row">
        <label>Tip 15%:</label>
        <output id="tip15">@ViewBag.Tip15.ToString("c2")</output>
    </div>
    <div class="row">
        <label>Tip 20%:</label>
        <output id="tip20">@ViewBag.Tip20.ToString("c2")</output>
    </div>
    <div class="row">
        <label>Tip 25%:</label>
        <output id="tip25">@ViewBag.Tip25.ToString("c2")</output>
    </div>
    <div class="row">
        <div class="column">
            <button type="submit">Calculate</button>
        </div>
        <div class="column">
            <button type="reset">Clear</button>
        </div>
    </div>
    
</form>