@{
    ViewData["Title"] = "About Us";
}
<h1 class="display-4 text-center">@ViewData["Title"]</h1>
<br>
<h2 class="display-5 text-center">Who are we?</h2>
<br>
<div class="row text-center">
    <div class="col">
        <p class="display-6">Ryan McGrandle</p>
        <p class="display-6">ID: 000299562</p>
    </div>

    <div class="col">
        <p class="display-6">Kaden de Frece</p>
        <p class="display-6">ID: 000364780</p>
    </div>
</div>