@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello!</h1>
    <br>
    <h2 class="display-5">Welcome to Our Project for CPRO2211</h2>
    <br>
    <h2 class="display-6">We hope you enjoy, use the navbar above to navigate through our webpage.</h2>
</div>
